@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
    background: linear-gradient(rgb(97, 97, 255), rgb(255, 255, 255));
    min-height: 100vh;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.logo{
    color: #ffffff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
.montanha{
    position: relative;
    width: 300px;
    left: -4vw;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.navigation li{
    list-style: none;
}

.navigation li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #ffffff;
    border-radius: 20px;
}

.navigation li a:hover{
    background: #112434;
    color: #fff;
}

.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parallax img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

#text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4em;
    color: #ffffff;
}

.sec{
    position: relative;
    padding: 100px;
    background: linear-gradient(rgb(125, 125, 255));
}

.sec h2{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p{
    font-size: 1.5em;
    color: #fff;
    font-weight: 300;
}

section.image{
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

section.image > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px;
}

section#img01{
    background-image: url();
    background-position: right center;
}